{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ pluralHumanName }}

        <div class="pull-right">
            <?php echo $this->Html->link(__('Dodaj'), ['action' => 'add'], ['class'=>'btn btn-success btn-xs']) ?>
        </div>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><?php echo __('List'); ?></h3>

                    <div class="box-tools">
                        <form action="<?php echo $this->Url->build(); ?>" method="POST">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="<?php echo __('Filtruj'); ?>">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            {% for field in fields %}
                                <th scope="col"><?= $this->Paginator->sort('{{ field }}') ?></th>
                            {% endfor %}
                            <th scope="col" class="actions text-center"><?= __('Akcje') ?></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                        <tr>
                            {% for field in fields %}
                                {% set isKey = false %}
                                {% if associations.BelongsTo %}
                                    {% for alias, details in associations.BelongsTo|filter(field == details.foreignKey) %}
                                        {% set isKey = true %}
                                        <td><?= ${{ singularVar }}->has('{{ details.property }}') ?
                                            $this->Html->link(${{ singularVar }}->{{ details.property }}
                                            ->{{ details.displayField }}, ['controller' => '{{ details.controller }}',
                                            'action' => 'view', ${{ singularVar }}->{{ details.property }}
                                            ->{{ details.primaryKey[0] }}]) : '' ?>
                                        </td>
                                    {% endfor %}
                                {% endif %}
                                {% if isKey is not same as(true) %}
                                    {% set columnData = Bake.columnData(field, schema) %}
                                    {% if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                                        <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                                    {% else %}
                                        <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                            <td class="actions text-right">
                                <?= $this->Html->link(__('Podgląd'), ['action' => 'view', {{ pk|raw }}], ['class'=>'btn
                                btn-info btn-xs']) ?>
                                <?= $this->Html->link(__('Edycja'), ['action' => 'edit', {{ pk|raw }}], ['class'=>'btn
                                btn-warning btn-xs']) ?>
                                <?= $this->Form->postLink(__('Usuń'), ['action' => 'delete', {{ pk|raw }}], ['confirm'
                                => __('Czy napewno chcesz usunąć obiekt?'), 'class'=>'btn btn-danger btn-xs']) ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>